@font-face {
    font-family: "thrones";
    src: url("../assets/fonts/GameofThrones.ttf") format("truetype");
  }
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Marcellus+SC&display=swap');
font-family: 'Cinzel', serif;
font-family: 'Marcellus SC', serif;

* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../assets/images/background_image.jpg);
    background-size: cover;
    background-color: gray;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main {
    background-color: rgba(255,255,255,0.3);

}
.navbar-brand {
    font-family: 'Marcellus SC', serif;
    font-size: 28px;
}
nav {   
    width: 100%;
    height: 80px;
    background-color: white;
    font-family: 'Cinzel', serif
}
.my-carousel {
    position: relative;
    top: 80px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    width: 80%;
    margin: 10% auto;
}
.grid-item {
    background: whitesmoke;
    /* border: 2px solid #561425; */
    display: flex;
    align-items: center;
  }
  .grid-item img {
    width: 100%;
  }
  .grid-images {
    margin-top: 75px;
  }
  .grid-images img {
    margin-bottom: 20px;
  }

  .hod-trailer {
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .grid2-images {
    margin-top: 0;
    padding-top: 0;
  }

  footer {
    display: flex;
    background-color: white;
    padding: 0;
    margin: 0;
  }
  .grrm-logo {
    width: 45%;
    margin-top: 10%;
  }
  .footer-copyright {
    text-align: center;
    font-family: 'Marcellus SC', serif;
  }