@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body {
  margin: 0;
  font-family: "Montserrat"
}

#main-page {
  /* margin: 5%; */
  box-sizing: border-box;
  width: 90%;
  border: 5px solid #e1a177;
  margin: 5% auto;
}

/* HEADER CSS */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-right img {
  width: 100%;
}
.header-left {
  font-family: "Lobster";
}

/* NAV CSS */
nav ul {
  display: flex;
  margin: 0;
  padding-left: 0;
}
nav li {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  color: #e1a177;
}

/* CONTENT CSS */
main {
  /* TEMP */
  height: 500px;
}

/* FOOTER CSS */
footer {
  display: flex;
}
.footer-left img {
  width: 75%;
  padding-left: 10%;
}
.footer-left {
  flex: 2;
}
.footer-center {
  flex: 1;
}
.footer-right {
  flex: 1;
}



/* JS DEMO 1 */
.about-text {
  display: none;
}

.reveal {
  display: block;
}
.time-wrapper {
  background-color: #e1a177;
  height: 400px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
  background-image: url("../assets/images/coffee5.jpg");
  background-size: cover;
  background-position: center center;
}

.time-wrapper h4 {
  font-size: 5rem;
  text-shadow: 2px 3px 0px black;
  font-family: "Lobster";
}
.time-wrapper p {
  font-size: 3rem;
}