@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@200&family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@200&family=Marcellus+SC&display=swap');

/* BODY */
/* ON STLE CSS SHEET */

/* HEADER */
/* ON STYLE CSS SHEET */

/* NAV */
/* ON STYLE CSS SHEET */

/* MAIN */
.space {
    width: 500px;
    height: 10px;
  }
  .form-wrapper h2 {
    font-family: 'Marcellus SC', serif;
  }
  .form-wrapper {
    border: 3px solid #561425;
    margin: 10%;
    padding: 5%;
  }

/* FOOTER */
/* ON STYLE CSS SHEET */