@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@200&family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@200&family=Marcellus+SC&display=swap');

/* BODY */
/* ON STLE CSS SHEET */

/* HEADER */
/* ON STYLE CSS SHEET */

/* NAV */
/* ON STYLE CSS SHEET */
.sub-navbar {
  padding-top: 2%;
}
.sub-navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sub-navbar li {
  border: 2px solid lightgray;
  border-radius: 25%;
  display: block;
  padding: 20px;
  margin: 10px;
  color: black;
}
.sub-navbar li:hover {
  background-color: rgba(189, 147, 189, 1);
  color: black;
  box-shadow: 0px 3px 30px 3px rgba(189, 147, 189, 0.45);
}

/* MAIN */
.grid-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  width: 80%;
  margin: 10% auto;
}
.grid-item {
  background: whitesmoke;
  display: flex;
  align-items: center;
}
.grid-item img {
  width: 100%;
}

/* FOOTER */
/* ON STYLE CSS SHEET */